Repository HarrisonLavins/ScoreShare, pull requests merged in 2021-02, with the labels that each got.

#10 feat(server): Add API Explorer
  server/.gitignore
  server/src/Server.ts
  server/src/index.ts
  server/src/pre-start/env/development.env
  server/src/public/scripts/index.js
  server/src/public/stylesheets/style.css
  server/src/views/index.html
Labels: Server, enhancement

#12 feat: Create Initial Real-Time Score Editor
  @types/index.d.ts
  server/package-lock.json
  server/package.json
  server/src/Server.ts
  server/src/routes/index.ts
  server/src/scripts/calculateEditDistance.ts
  server/src/sockets/ScoreEditor.ts
  server/src/sockets/index.ts
  server/tsconfig.json
  webapp/package-lock.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/SocketTest.tsx
  webapp/src/config/index.ts
  webapp/src/scripts/calculateEditDistance.ts
  webapp/src/scripts/socketManager.ts
  webapp/tsconfig.json
Labels: Server, WebApp, enhancement

#13 feat(webapp): abc.js Score Renderer
  webapp/package-lock.json
  webapp/package.json
  webapp/public/index.html
  webapp/src/App.tsx
  webapp/src/components/Editor.tsx
  webapp/src/components/Score.tsx
  webapp/src/styles/App.css
Labels: WebApp, enhancement

#14 feat: Connect Socket Server to Sheet Music Renderer
  server/src/sockets/ScoreEditor.ts
  webapp/src/components/Editor.tsx
  webapp/src/components/Score.tsx
  webapp/src/index.tsx
Labels: Server, WebApp, bug

#15 feat(webapp): Create a Basic Home Page
  webapp/src/App.tsx
  webapp/src/components/SocketTest.tsx
Labels: WebApp, enhancement
